apeglm
assertthat
circlize
cowplot
DESeq2
data.table
digest
dplyr
egg
factoextra
furrr
future
GGally
ggdendro
ggfortify
ggh4x
ggmulti
ggplot2
ggpubr
ggrepel
ggtext
gridExtra
jinjar
logging
magrittr
matrixStats
methods
openxlsx
parallelly
pkgload
purrr
pvclust
R6
Rcpp
readr
rhdf5
rstan
scales
stringr
tibble
tidyr
tidyselect
tools
yaml